#home-container {
    align: center middle;
    width: 100%;
    height: 100%;
}

#welcome {
    width: 100%;
    text-align: center;
    padding: 1 2;
}

#menu {
    width: auto;
    height: auto;
    padding: 1 4;
    border: solid $primary;
    background: $panel;
}

.menu-item {
    padding: 0 2;
    margin-bottom: 1;
}

#help-content {
    padding: 2 4;
}
