VaultBrowserScreen {
    background: $surface;
}

#vault-container {
    width: 100%;
    height: 100%;
    padding: 1 2;
    display: block;
}

#title {
    width: 100%;
    text-align: center;
    padding: 1 0;
    color: $primary;
}

#vault-table {
    width: 100%;
    height: 1fr;
    border: solid $primary;
    margin-top: 1;
}

#scan-progress {
    display: none;
    width: 80%;
    margin: 1 auto;
    height: auto;
}
